@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.UmbPropertyDetails>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Globalization;
@{
    Layout = "umbLayout.cshtml";
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;

    var imagesList = Model.Content.GetPropertyValue<string>("images").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var imagesCollection = Umbraco.TypedMedia(imagesList).Where(x => x != null);
}

<div id="main-wrapper">
    <div id="main" class="container">
        <div class="row">
            <div class="9u 12u(mobile) important(mobile)">
                <div class="content content-left">
                    <!-- Content -->
                    <article class="box page-content">
                        <header>
                            <h2>@pageTitle</h2>
                            <p>@(String.Format(new CultureInfo("en-GB"), "{0:C}", CurrentPage.Price) )</p>
                            @*<h2 class="text-right">£6,500,000</h2>*@
                        </header>
                        <section>
                            <div id="showcase-loader" style="display: none;"></div>
                            <div id="owl-demo">
                                @foreach (var image in imagesCollection)
                                {
                                    <a href="@image.Url" class="thumbnail">
                                        <img class="example-image img-responsive" src="@image.Url" alt="@image.Name">
                                    </a>
                                }
                            </div>
                            <div id="owl-thumbnails" style="">
                                <div class="col-xs-1">
                                    <div class="showcase-thumbnail-button-backward owl-prev" style="float: left;">
                                        <span class="showcase-thumbnail-horizontal"><span>Left</span></span>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div id="owl-gallery">
                                        @foreach (var image in imagesCollection)
                                        {
                                            <div class="item">
                                                <a href="#" data-slide="0">
                                                    <img class="img-responsive" src="@image.Url" alt="@image.Name" height="200px" width="200px">
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xs-1">
                                    <div class="showcase-thumbnail-button-forward owl-next" style="float: left;">
                                        <span class="showcase-thumbnail-horizontal"><span>Left</span></span>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
            <div class="3u 12u(mobile)">
                <div class="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h2 class="major"><span>Summary</span></h2>
                        <p>@CurrentPage.clientName</p>
                        <p>@CurrentPage.branchName</p>

                        <a href="tel:01354 696700">
                            <strong>01354 696700</strong>
                        </a>
                    </section>
                    <section>
                        <h2 class="major"><span>Share</span></h2>
                        <div class="addthis_inline_share_toolbox_9492"></div>
                        <a target="_blank" class="btn button" href="@Html.Raw(Model.Content.GetPropertyValue<string>("brochures").StripHtml())">
                            <i class="fa fa-link"></i><span> Brochure</span>
                        </a>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <ul class="nav nav-tabs ">
                            <li class="active">
                                <a href="#description" data-toggle="tab">
                                    Description
                                </a>
                            </li>
                            <li>
                                <a href="#floorplan" data-toggle="tab">
                                    Floorplan
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="description">
                                <h3>Key Features</h3>
                                <ul>
                                    <li>@CurrentPage.propertyFeature1</li>
                                    <li>@CurrentPage.propertyFeature2</li>
                                    <li>@CurrentPage.propertyFeature3</li>
                                    <li>@CurrentPage.propertyFeature4</li>
                                </ul>

                                <h3>Full Description</h3>

                                @Html.Raw(CurrentPage.FullDescription)

                                @if (CurrentPage.HasValue("epcGraphs"))
                                {
                                    <h3>Energy Performance Certificate (EPC)</h3>
                                    <p>
                                        <a target="_blank" href="@Html.Raw(Model.Content.GetPropertyValue<string>("epcGraphs").StripHtml())">
                                            View EPC Graph for this property
                                        </a>
                                    </p>
                                    <img src="@Html.Raw(Model.Content.GetPropertyValue<string>("epcGraphs").StripHtml())" />
                                }
                            </div>
                            <div class="tab-pane" id="floorplan">
                                <p>
                                    <img class="img-responsive" src="@Html.Raw(Model.Content.GetPropertyValue<string>("floorplans").StripHtml())" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>